body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url(./assets/stocks.jpeg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin:0 auto;
  margin-top: 60px;
  padding: 32px 40px;
  min-width: 448px;
  height: 150px;
  border-radius: 15px;
}
.form-container-signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 40px;
  margin:0 auto;
  margin-top:60px;
  gap: 24px;
  width: 600px;
  min-height: 150px;
  border-radius: 15px;
}
/* .signup-input {
  display:flex;
  margin:0 auto
} */
h1 {
  color:blue;
}

.nav-bar{
  background: #919CCB;
    display: flex;
    height: 40px;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 45px;
}
.nav-bar-image{
  max-height: 75px;
}

.nav-bar .nav-links{
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 45px;
}

.nav-bar .nav-links .links{
  max-height: 90px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight:700;
  margin-left: 15px;
  padding: 10px 10px;
}


.links:hover{
  background-color:rgb(57, 57, 197);

  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  }

  .home-image{
    backdrop-filter: blur(5px)
  }

  .table-container {
    margin:0 auto;
    margin-top: 60px;
    max-width:800px;
    font-size:18px
  }

  .portfolio-header, .add-stock-header{
    padding:20px;
    
  }

  




  
  