
h1 {
  color:blue;
}

.nav-bar{
  background: blue;
    display: flex;
    height: 40px;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 45px;
}

.nav-bar .nav-links{
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 45px;
}

.nav-bar .nav-links .links{
  max-height: 80px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-left: 15px;
  padding: 10px 10px;
}


.links:hover{
  background-color:rgb(57, 57, 197);
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  }


.page-home{
  background-image:url(./assets/stocks.jpeg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
